<div class="container">
    <div class="title">
        <h1>Primarios</h1>
        <a class="button" routerLink="">Agregar Primario</a>
    </div>
    <hr>
    <div class="primaries-table">
        <div class="headings align-primaries">
            <h6>ID</h6>
            <h6>Nombre</h6>
            <h6>Grupo</h6>
            <h6>Clasificación</h6>
            <h6>Unidad</h6>
            <h6>Valor unitario</h6>
            <h6>Proveedor</h6>
            <h6>Otros proveedores</h6>
        </div>
        <div class="data">
            <div class="entry align-primaries">
                <div class="tmp"><p>1</p></div>
                <div class="tmp"><p>Reja de sumidero</p></div>
                <div class="tmp"><p>Materiales</p></div>
                <div class="tmp"><p>Herrajes</p></div>
                <div class="tmp"><p>un</p></div>
                <div class="tmp"><p>$ 222.292</p></div>
                <div class="tmp"><p>El Tunel</p></div>
                <div class="tmp"><a href="" class="smaller-button">Otros proveedores</a></div>
                <!-- <div><a class="update-button"><span class="material-symbols-outlined">edit</span></a></div> -->
                <!-- <div><button class="delete-button">D</button></div> --> 
            </div>
        </div>
    </div>
</div>
