<div class="container">
    <div class="home-logo">
        <span class="material-symbols-outlined logo-icon-size">logo_dev</span>
    </div>
    <div class="home-links">
        <a routerLink="/primaries" class="home-card">
            <span class="material-symbols-outlined card-icon-size">counter_1</span>
            <p class="card-text">Primarios</p>
        </a>
        <a routerLink="" class="home-card">
            <span class="material-symbols-outlined card-icon-size">counter_2</span>
            <p class="card-text">Subproductos</p>
        </a>
        <a routerLink="" class="home-card">
            <span class="material-symbols-outlined card-icon-size">counter_3</span>
            <p class="card-text">Presupuestos</p>
        </a>
        <a routerLink="" class="home-card">
            <span class="material-symbols-outlined card-icon-size">counter_4</span>
            <p class="card-text">Obras</p>
        </a>
        <a routerLink="" class="home-card">
            <span class="material-symbols-outlined card-icon-size">counter_5</span>
            <p class="card-text">Proveedores</p>
        </a>
    </div>
</div>
