<div class="container">
    <div class="title">
        <h1>Primario "{{ primary }}"</h1>
        <a class="button bigger-button" routerLink="">Agregar Proveedor</a>
    </div>
    <hr>
    <div class="primary-details">
        <div class="inline-div"><h2>Grupo:</h2><h2 class="text">{{ group }}</h2></div>
        <div class="inline-div"><h2>Clasificación:</h2><h2 class="text">{{ clasification }}</h2></div>
        <div class="inline-div"><h2>Unidad:</h2><h2 class="text">{{ unit }}</h2></div>
        <div class="inline-div"><h2>Valor por defecto:</h2><h2 class="text">$ {{ defaultPrice }}</h2></div>
        <div class="inline-div"><h2>Proveedor por defecto:</h2><h2 class="text">{{ defaultSupplier }}</h2></div>
    </div>
    <hr>
    <div class="primary-suppliers">
        <h2>Proveedores</h2>
    </div>
</div>
