<div class="container">
    <div class="title">
        <h1>Primario "Lorem, ipsum."</h1>
        <a class="button bigger-button" routerLink="">Agregar Proveedor</a>
    </div>
    <hr>
    <div class="primary-details">
        <div class="inline-div"><h2>Grupo:</h2><h2 class="text">Materiales</h2></div>
        <div class="inline-div"><h2>Clasificación:</h2><h2 class="text">lorem </h2></div>
        <div class="inline-div"><h2>Unidad:</h2><h2 class="text">kg</h2></div>
        <div class="inline-div"><h2>Valor por defecto:</h2><h2 class="text">$ 120.000</h2></div>
        <div class="inline-div"><h2>Proveedor por defecto:</h2><h2 class="text">Un proveedor</h2></div>
    </div>
    <hr>
    <div class="primary-suppliers">
        <h2>Proveedores</h2>
    </div>
</div>
