<div class="container">
    <div class="title">
        <h1>Crear Primario</h1>
        <a routerLink="/primaries" class="button bigger-button back-button">Volver</a>
    </div>
    <hr>
    <form class="create-form" [formGroup]="primaryForm" (ngSubmit)="createPrimary()">   
        <div class="input-div">
            <label for="primary">Nombre del primario</label>
            <input class="form-input" id="primary" type="text" formControlName="primary">
            <ng-container *ngIf="primaryForm.get('primary')?.hasError('required') && primaryForm.get('primary')?.touched">
                <p class="error-message">El campo "Nombre del primario" es <u><b>obligatorio</b></u></p>
            </ng-container>
        </div>
        <div class="input-div">
            <label for="group">Grupo</label>
            <select class="form-input" id="group" name="group" formControlName="group">
                <option *ngFor="let g of groups" [value]="g">{{ g }}</option>
            </select>
            <ng-container *ngIf="primaryForm.get('group')?.hasError('required') && primaryForm.get('group')?.touched">
                <p class="error-message">El campo "Grupo" es <u><b>obligatorio</b></u></p>
            </ng-container>
        </div>
        <div class="input-div">
            <label for="clasification">Clasificación</label>
            <select class="form-input" id="clasification" name="clasification" formControlName="clasification">
                <option *ngFor="let c of clasifications" [value]="c">{{ c }}</option>
            </select>
            <ng-container *ngIf="primaryForm.get('clasification')?.hasError('required') && primaryForm.get('clasification')?.touched">
                <p class="error-message">El campo "Clasificación" es <u><b>obligatorio</b></u></p>
            </ng-container>
        </div>
        <div class="input-div">
            <label for="unit">Unidad de medida</label>
            <select class="form-input" id="unit" name="unit" formControlName="unit">
                <option *ngFor="let u of units" [value]="u">{{ u }}</option>
            </select>
            <ng-container *ngIf="primaryForm.get('unit')?.hasError('required') && primaryForm.get('unit')?.touched">
                <p class="error-message">El campo "Unidad de medida" es <u><b>obligatorio</b></u></p>
            </ng-container>
        </div>
        <div class="input-div">
            <button type="submit" [disabled]="primaryForm.invalid" class="button submit-button">Agregar Primario</button>
        </div>
    </form>
</div>
